html, body {
  height: 100%;
}

body {

background:#eee;
  margin: 0;
  padding: 0;
}

#imgGrid{

	width:800px;
	overflow:auto;
	margin:10px auto;
}
#imgGrid img{

	display:block;
	width: 75px;
	height: 75px;
	float: left;
	margin:5px;
	cursor: pointer;
}
canvas{
	background:yellow;
	border:2px solid #aaa;
	box-shadow: 0px 3px 10px #aaa ;
	display:block;
	
	margin:50px auto 10px;
}